/******
UTILIS
******/
.virgo{
    padding: 0;
        height: 52px;
        line-height: 52px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        text-transform: uppercase;
        color: #fc7523;
}